.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
  flex-direction: column;
}

.box {
  height: 20px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  cursor: pointer;

  border-radius: 50px;
  border-width: 2px;
  border-color: #c0c0c0;
  border-style: solid;

  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  justify-content: center;
  align-items: center;
}

.box:hover {
  border-color: black;
}

.image-card {
  margin: 10px;
  cursor: pointer;
}

.place-image {
  height: 100px;
  width: 100px;

  border-radius: 8px;
  border-color: #c0c0c0;
  border-width: 2px;
  border-style: solid;

  margin-bottom: 10px;
  overflow: hidden;
}

.active {
  border-color: black;
}
