body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background {
  background-image: url('./assets/Homebackground.png');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.css-19r6kue-MuiContainer-root {
  max-width: 3000px !important;
}

/* Styling for the entire scrollbar */
::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
}

/* Styling for the track of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
  border-radius: 10px; /* rounded corners on the track */
}

/* Styling for the thumb (draggable part) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: rgb(171, 201, 110); /* color of the scrollbar thumb */
  border-radius: 10px; /* rounded corners on the thumb */
}

/* Styling for the thumb when it's hovered over */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scrollbar thumb when hovered */
}
