.map-style-dropdown {
  display: flex;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 1;
  border-color: rgb(3, 3, 3);
  border-radius: 4px;
  padding: 4px;
}

.map-day-dropdown {
  display: flex;
  position: absolute;
  top: 40px;
  left: 150px;
  z-index: 1;
  border-color: rgb(3, 3, 3);
  border-radius: 4px;
  padding: 4px;
}

.location-details {
  flex-direction: column;
}

.location-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
