.firstpage-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.firstpage-navbar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.firstpage-logo-text {
  color: #ffffff;
}

.firstpage-plan-button {
  border: 1px solid #72ac00;
  width: 280px;
  height: 44px;
  padding: 12px 28px 12px 36px;
  gap: 0px;
  border-radius: 62.2px;
  border: 1px;
  background: #88cc00;
  cursor: pointer;
  font-weight: bold;
}

.firstpage-features {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
  border-radius: 400px;
  flex-wrap: wrap;
  padding: 60px;
}

.firstpage-feature-box {
  padding: 40px 36px 40px 36px;
  gap: 4px;
  border-radius: 32px;
  opacity: 1;
  box-shadow: 0px 4px 20px 0px #00000025;
  background-color: #ffffff;
  width: 200px;
  height: 200px;
}
